.userHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 480px;
  width: 100%;
  background-color: lightcoral;
  background-image: url("https://www.transparenttextures.com/patterns/light-grey-floral-motif.png")
}


.userHeader .image {
  display: flex;
  padding-top: 6em;

}

@media only screen and (min-width: 1024px) {
  .userHeader {
    width: 33.3%;
    float: left;
    position: fixed;
    margin-top: 10em;
    margin-left: 3em;
  }

  .container {
    width: 60%;
    float: right;
    margin-top: 7em;
    margin-right: 3em;
  }
}