.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#tweet-text {
  display: flex;
}

main section div {
  font-family: Bungee, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

main section button {
  color: white;
  background-color: #4056A1;
}

#tweet-text {
  border: 3px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #f4f1ec;
}

.no-outline:focus {
  outline: none;
}



/* .tweetContainer {
  display: flex;
  width: 600px;
  height: 200px;
  flex-direction: column;
  background-color: cyan;
  justify-content: space-between;
  border: 3px black groove;

}

.tweetHeader {
  display: flex;
  justify-content: space-between;
  border: 2px red solid;
}



.tweetFooter {
  display: flex;
  justify-content: space-between;
  border: 2px purple solid;
}

.footerIcons {
  display: flex;
  border: 2px blue solid;
  justify-content: flex-end;
}

.tweetName {
  display: flex;
  justify-content: flex-start;  
} */