.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#tweet-text {
  display: flex;
}

main section div {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-family: Bungee, sans-serif;
}

main section button {
  color: white;
  background-color: #4056A1;
}

#tweet-text {
  border: 3px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #f4f1ec;
}

.no-outline:focus {
  outline: none;
}
