.tweetContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 7em;
  margin-bottom: 2em;
  width: 80%;
  height: 300px;
  border: 3px #545149 groove;
  word-break: keep-all;
}

.tweetContainer:hover {
  box-shadow: 4px 4px lightslategray;
}


.tweetHeader {
  display: flex;
  justify-content: space-between;
  margin : 0.5em;
  font-size: 1.25em;
}



.tweetFooter {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5;
  font-size: 0.75em;
}

.footerIcons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}

.fa-flag:hover {
  color: gold;
}

.fa-retweet:hover {
  color: gold;
}

.fa-heart:hover {
  color: gold;
}

.tweetName {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.5em;  
}

.tweetContent {
  display: flex;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 1.75em;
  border-bottom: 3px #545149 groove;
}
